#main{
    margin: 2vw;
    padding: 3vw;
}
img{
    width: 350px;
    height: 550px;
}
#main{
    position: relative;
    display: flex;
    justify-content: space-between;
}
#second{
    position: absolute;
    background-color: cadetblue;
    border: 4px solid black;
    border-radius: 15px;
    right: 0;
    bottom: 0;
    height: fit-content;
    padding: 2vw;
    bottom: 2%;
}