*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    position: relative;
    
}
#main{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
   min-width: 25%;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    font-size: small;
    font-weight: 100;
    min-height: 50px;
}
.newrepo{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    gap: 10px;
}
.repoinfo{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
#refresh{
    width: 100%;
    padding: 10px;
    background-color: greenyellow;
    display: none;
    background: rgb(238, 196, 238);
}
#refresh:hover{
    background: rgb(193, 7, 193);
}