body{
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: gainsboro;
    color:black
}
#navbar{
    display: flex;
    justify-content: space-between;
}
#f{
    border-bottom: 4px solid black;
}
#content #c2,#content #c3 ,#content #c4{
    display: none;
}
.tab{
    cursor: pointer;
}

.tab:hover{
    background-color: #d6d1d1;
}